
/* Your CSS Code here. */
.holder .item.item-1{
	display:flex;
	justify-content:center;
	align-items:center;
	width:25%;
	height:25vh;
	background-color:pink;
/* 	position:relative;
	top:205px;
	margin:auto; */
	
}